<nav class="navbar navbar-expand-lg bg-blue">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Flight Management Portal</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
         <!--*ngIf ="logginUser == 'admin'"-->
          <a class="nav-link active"  aria-current="page" routerLink="/home">Home</a>
          <a class="nav-link"  routerLink="/addAirlines">AddAirlines</a>
          <a class="nav-link"  routerLink="about" href="#">About</a>
          <a class="nav-link"  routerLink="contact" href="#">Contact Us</a>
          <a class="nav-link"  routerLink="/flightdetails">FlightDetails</a>
          <a class="nav-link"  routerLink="/flightBooking">FlightBooking</a>
         
        </div>
      </div>
    </div>
  </nav>