<div class="container">
    <h3>About Us</h3>
    <p>IndiGo is India's largest passenger airline with a market share of 57.7% as of August, 2022. We primarily operate in
    India's domestic air travel market as a low-cost carrier with focus on our three pillars - offering low fares, being
    on-time and delivering a courteous and hassle-free experience.

    Since our inception in August 2006, we have grown from a carrier with one plane to a fleet of 280+ aircraft today. A
    uniform fleet for each type of operation, high operational reliability and an award winning service make us one of
    the most reliable airlines in the world.

    IndiGo has a total destination count of 100 with 74 domestic destinations and 26 International.
</p>
    <h5>The preferred airline</h5>
    <p>
    IndiGo is not only the most efficient low fare operator domestically but is also comparable with global low cost
    airlines. We are constantly enhancing our engagement with our passengers to augment their travel experience. From
    multichannel direct sales (including online flight booking, call centers and airport counters), to online flight
    status checking, an exclusive IndiGo app for Android, we have transformed air travel in India. Today, we are India's
    most preferred airline. At IndiGo, low fares come with high quality.
</p>
    <h5>Great Place to Work</h5>
<p>A highly engaged and motivated workforce leads to higher levels of customer service. Our state-of-the-art 'ifly'
    facility is designed to deliver a real-time training experience to all our new recruits. This training facility is
    considered to be one the best aviation training facilities in India. With our people-friendly culture at the heart
    of all we do, we continuously help the company staff find work-life balance. Having won 'Companies with Great
    Managers' award three years in a row and being 'Great place to work - Certified' in 2021, is testimonial to the
    culture we have, making us one of the best launchpads for future leaders.
</p>
    <h5>IndiGoReach</h5>
    <p>Our Corporate Social Responsibility (CSR) initiative IndiGoReach focuses on four broad themes: Children and
    Education, Women Empowerment, Environment and Heritage. We work towards upliftment of communities not just around us
    but also far-flung areas in the country. After all, India's holistic progress is rooted in the collective
    aspirations of its people.</p>
</div>