<h1 style="text-align: center; background-color: #f7b285" class="display-1">
    {{title}}
   </h1>
   <br />
   
   <ol class="list-group list-group-numbered">
     <li
       class="list-group-item d-flex justify-content-between align-items-start"
       *ngFor="let f of flight; index as i">
       <div class="ms-2 me-auto">
         <div class="fw-bold">{{ f.flightNo }}{{ f.fromPlace }}{{ f.toPlace }} {{ f.startDateTime }} {{ f.endDateTime }} {{ f.scheduledDays }}{{ f.flightModel }}</div>
       </div>
         </li>
   </ol>
