<!-- <form action="https://formspree.io/jagadish9841@gmail.com" method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" class="full-width" /><br />
    <label for="email">Email Address</label>
    <input type="email" id="email" name="_replyto" class="full-width" /><br />
    <label for="message">Message</label>
    <textarea name="message" id="message" cols="30" rows="10" class="full-width"></textarea><br />
    <input type="submit" value="Send" class="button" />
  </form> -->
<!--
<div class="container">
  <h3>Contact US</h3>
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name">First Name</label>
        <input type="text" class="form-control" id="name" placeholder="Email">
      </div>
      <div class="form-group col-md-6">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" placeholder="Password">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">mobile</label>
        <input type="number" class="form-control" id="inputPassword4" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>AP</option>
          <option>TS</option>
          <option>TN</option>
          <option>KA</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
</div>-->


<div class="row">
  <a href="hdhh" class="icon fa fa-behance"></a>
  <a href="hdhh" class="icon fa fa-github"></a>
  <a href="hdhh" class="icon fa fa-linkedin"></a>
  <a href="hdhh" class="icon fa fa-slack"></a>
  <a href="hdhh" class="icon fa fa-stack-overflow"></a>
</div>

<div class="col">
 <h2><b>ph</b>one : 011 - 1111 - 111</h2>
 <h2><b>em</b>ail : user@gmail.com</h2><br>
 <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3594.5952078449636!2d28.2950063!3d-25.7178232!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e95600859e4ffcd%3A0x510fa75e8fbfe5de!2sIconic+Industrial+Supplies!5e0!3m2!1sen!2sza!4v1529651225411" width="500" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>